{% load static %}
{% load django_simple_cookie_consent_tags %}

<!doctype html>
<html lang="pl">

  <head>
    {% display_cookie_consent %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="Pasieka Radosc - produkja i sprzedaż miodów w Warszawie">
    <meta name="keywords" content="Pasieka, miód, pszczelarstwo, Radość, Warszawa">
    <meta name="author" content="Jakub Klewicki & Tomasz Klewicki">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--favicon-->
    <link rel="shortcut icon" href="{% static 'pszczola.ico' %}" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" defer></script>

    <!-- Custom js & css -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
    <!-- Google Analitics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-07HHYD8738"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', 'G-07HHYD8738');
    </script>
    

    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&display=swap" rel="stylesheet">
      <style>
            font-family: 'Advent Pro', sans-serif;
      </style>



    {% block scripts %}
    {% endblock scripts %}

    <title>Joyful Bees | {% block title %} {{title}} {% endblock title %}</title>
  </head>

  <body>

  {% comment %} JUMBOTRON  {% endcomment %}

  <div class="jumbotron jumbotron-fluid">
    <div class="container" onclick="location.href='{% url 'page-home' %}';" style="cursor: pointer;">
      {% for description in site_description %}
        <h3 class="jumbo-text">{{description.jumbotron}}</h3>
      {% endfor %} 
    </div> 
  </div> 
  
{% comment %} INLUDING NAVBAR {% endcomment %}

  {% include 'navbar.html' %}
    <br>
    <div class="container mt-3 mb-3">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}}">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock content %}
    </div>

    <!-- Bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"></script>
    
  </body>

<footer>
  
  {% include 'footer.html' %}

</footer>
  
</html>