{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content%}

<div>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
        <div class="col-sm-4">
            <legend class="boarder-bottom mb-4">Zaloguj</legend>
            {{form|crispy}}
        </div>
        </fieldset>
        <br>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Login</button>
        </div>

    </form>
    <br>
    <div class="border-top pt-3">
        <!-- <small class="text-muted">
            Chcesz utworzyć konto? <a href="{% url 'users-register' %}">Zarejestruj się teraz</a>
        </small> -->
    </div>
</div>

{% endblock content %}