{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content%}

<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img fade-in" src="{{ user.profile.image.url }}">
    <div class="media-body">
      <h2>{{ user.username }}</h2>
      <p class="text-warning">{{ user.email }}</p>

      {% comment %} ADMIN BUTTONS ONLY {% endcomment %}

      {% if request.user.is_authenticated and request.user.is_superuser %}
      <div class="btn-example">
        {% csrf_token %}
        <h5 class="media"> Menu administratora</h5>
        <hr>
        <a class="btn btn-info" href="{% url 'products-list' %}">Zarządzanie produktami</a>
        <a class="btn btn-info" href="{% url 'customers-view' %}">Zarządzanie klientami</a>

      </div>
      {% endif %}

      {% endblock content %}