{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content%}
<div>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="boarder-bottom mb-4">Opcjonalna rejestracja konta dla moderatorów</legend>
            {{form|crispy}}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-info" type="submit">Zarejestruj się</button>
        </div>
        <a id="adminButton" class="btn btn-secondary" href="{% url 'profile' %}">Powrót do menu admina</a>  

    </form>
    <br>
    <div class="border-top pt-3">
        <small class="text-muted">   
            Masz już konto? <a href="{% url 'login' %}">Zaloguj tutaj</a>
        </small>
    </div>
</div>

{% endblock content %}