{% extends "base.html" %}

{% block content %}
        
    <h1> {{title}} </h1>

    <article class="media content-section">
        Nazwa klienta: <b> {{object.name}} </b>
        <br>  
        Adres klienta: <b> {{object.address}} </b>
        <br>
        Email klienta: <b> {{ object.email }} </b>
        <br>
        Telefon klienta: <b> {{ object.tel }} </b>
        <br>
        Data dodania: <small class="text-muted">{{ object.created|date:"F d, Y" }}</small>
    <br>
    <br>

    <a class="btn btn-info adminButton" href="{% url 'customers-update' object.id %}">Aktualizuj dane klienta</a>
    <a class="btn btn-danger adminButton" href="{% url 'customers-delete' object.id %}">Usuń Klienta</a>
    <a class="btn btn-secondary adminButton" href="{% url 'customers-view' %}">Powrót</a>
    </article>


{% endblock content %}