{% extends "base.html" %}

{% block content%}

<h1> {{title}} </h1>

{% if user.is_authenticated %}
    <a class="btn btn-info" href="{% url 'customers-create' %}">Nowy klient</a>
{% endif %}
<br>
<br>
{% for customer in customers %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h5><a class="article-title">{{ customer.name }}</a></h5> 
                <small class="text-muted">{{ customer.created|date:"F d, Y" }}</small>
            </div>
        </div>
    </article>

{% endfor %}

{% endblock content %}