{% extends "base.html" %}
{% load crispy_forms_tags%}
{% block content%}

<h1 class = "title"> {{title}} </h1>
{% comment %}  BUTTONS FOR ADMIN  {% endcomment %}
<a class="btn btn-info adminButton" href="{% url 'customers-create' %}">Nowy klient</a>
<a class="btn btn-info adminButton" href = "mailto:?bcc={{recievers}}">Mail do wszystkich klientów</a>
<a class="btn btn-secondary adminButton" href="{% url 'profile' %}">Powrót do menu admina</a>  
<br>
<br>

<div class="col-sm-5">
    <form action="" method="get" autocomplete="off">
        {{ filter.form|crispy }}
        <p></p><button class="btn btn-success" type="submit">Szukaj</button>
    </form>
    <br>
</div>
<div>
<table class="table table-sm table-bordered">
    <thead class="thead">
        <tr>
            <th scope="col">Lp</th>
            <th scope="col">Nazwa klienta <br><i><span style="font-size:11px; color:blue">Kliknij aby wyświetlić szczegóły</span></i></br></th>
            <th scope="col">E-mail <br><i><span style="font-size:11px; color:blue">Kliknij aby wysłać email</span></i></br></th> 
        </tr>
    </thead>

    <tbody>
        {% for customer in object_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'customers-detail' customer.id %}">{{ customer.name }}</a></td>
            <td><a href="mailto:{{customer.email}};">{{customer.email}}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock content %}