{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content%}
<div class="alert alert-danger">
Uwaga! Ta funkcja wyśle newsletter do wszystkich zapisanych użytkowników!
</div>
<div class = "container">
    <div class="row mt-5 pt-5">
        <div class= "col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <form method ="POST">
                        {% csrf_token %}
                        {{form|crispy}}
                        <br>
                        <input class= "btn btn-info btn-block" type="submit" value="Wyslij Newsletter">

                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}