{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content%}
<div>
    {% comment %} Jak nie ma wpisanego enctype to wtedy nie doda nam zdjęcia {% endcomment %}
    <form method="POST" autocomplete="off" enctype="multipart/form-data"> 
        {% csrf_token %}
            <fieldset="form-group">
                <legend class="boarder-bottom mb-2">Tworzenie nowego produktu</legend>
                {{form|crispy}}
            </fieldset>
        <div class="form-group">
            <br>
    
            <button class="btn btn-info" type="submit">Dodaj</button>
            <a class="btn btn-secondary" href="{% url 'products-list' %}">Powrót</a>
        </div>
    </form>

    <br>
</div>
<br>
{% endblock content %}