{% extends "base.html" %}

{% block content%}
<h1> This is {{title}} page </h1>
<p class="maintenance">The site is under construction</p>
<br>
<div class="container">
    <div class="row">
        {% for product in products %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    {% if product.image %}
                    <img class="card-img-top" src="{{ product.image.url }}" class="img-fluid" alt="{{product.name}}" data-holder-rendered="true">
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text"><b>{{ product.name }}</b>
                            <p style="text-align: justify"> {{product.description}}</p></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <medium ><b> CENA: {{product.price|floatformat:2}} PLN</b></medium>
                                
                            </div>
                            <div>
                                {% if product.availability > 5 %}
                                <p style="color:green">DOSTĘPNOŚĆ: {{product.availability}} SZT</p>
                                {% elif product.availability > 0 and product.availability < 6 %}
                                <p style="color:darkorange">DOSTĘPNOŚĆ: {{product.availability}} SZT</p>
                                {% else %}
                                <p style="color:darkred">PRODUKT OBECNIE NIEDOSTĘPNY </p>
                                {% endif %}
                            </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <br>
</div>
{% endblock content %}