{% extends "base.html" %}
{% load crispy_forms_tags%}
{% block content %}

<h1> {{title}} </h1>

{% comment %} BUTTONS FOR ADMIN {% endcomment %}
<a class="btn btn-info" href="{% url 'products-create' %}">Nowy produkt</a>
<a class="btn btn-secondary" href="{% url 'profile' %}">Powrót do menu admina</a>

<br>
<br>
<div class="col-sm-5">
    <form action="" method="get" autocomplete="off">
        {{ filter.form|crispy }}
        <p></p><button class="btn btn-success" type="submit">Szukaj</button>
    </form>
    <br>
</div>

<div>
  <table class="table table-sm table-bordered">
    <thead class="thead">
      <tr>
        <th scope="col">Lp</th>
        <th scope="col">Nazwa produktu <br><i><span style="font-size:11px; color:blue">Kliknij aby wyświetlić
              szczegóły</span></i></br></th>
        <th scope="col">Cena</th>
        <th scope="col">Dostępność</th>
      </tr>
    </thead>

    <tbody>
      {% for product in object_list %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="{% url 'products-detail' product.id %}">{{ product.name }}</a></td>
        <td>{{ product.price }}</td>
        <td>{{ product.availability }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}