{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="boarder-bottom mb-4">Usunięcie produktu</legend>
            {{form|crispy}}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit" value="confirm">Kasuj Produkt {{object}}</button>
            <a class="btn btn-outline-secondary" href="{% url 'products-list' %}">Wróć do listy produktów</a>
        </div>
    </form>
    <br>
</div>
<br>
{% endblock content %}