{% extends "base.html" %} {% block content%}
<h1 class="title">{{title}}</h1>
{% for description in site_description %}
<p class="page_description alert-light">{{description.about_description_1}}</p>
<p class="alert-light"><b>{{description.about_description_2}}</b></p>

<div class="row">
  <div class="col">
    <h4>Początki Przygody</h4>
    <p id="pageText">
      Pszczoły pojawiły się mocniej w polu naszych zainteresowań na początku lat
      dziewięćdziesiątych, kiedy to dostałem dwa ule wielkopolskie od teścia.
      Zakupiłem wówczas pierwsze rodziny pszczele do ich zasiedlenia. Przez
      wiele lat stały one w przydomowym ogrodzie, a my ulegaliśmy ich magii.
      Przez te lata zdobywaliśmy doświadczenie i konsekwentnie rozwijaliśmy
      pasiekę do sześciu rodzin, a od 2015 roku było ich już 12, a w 2019 roku
      były to już 24 rodziny. W tym też 2019 roku pasieka została oficjalnie
      zarejestrowana u Powiatowego Lekarza Weterynarii pod numerem porządkowym
      146552312. W roku 2000 pasieka rozrosła się do 40 rodzin i przeniosła się
      do nieodległego (20 km) Kącka koło Wiązowny. W 2000 roku staliśmy się
      członkiem Koła Pszczelarzy PRAGA, które w 2021 przekształciło się w
      Stowarzyszenie Pszczelarzy Apis Mellifera
    </p>
  </div>
  <div class="col">
    <h4>Misja i Rozwój</h4>
    <p id="pageText">
      Co trzecia łyżka jedzenia, które spożywamy, zależy od procesu zapylania.
      Zapylanie jest niezwykle drogie, powolne i wymaga ogromnych nakładów
      pracy. Około 84% gatunków roślin uprawnych w Europie wymaga zapylenia
      przez owady. Mając powyższe na uwadze, chcemy dołożyć naszą małą łyżeczkę,
      do ogólnoświatowego trendu ochrony naturalnych zapylaczy, ze szczególnym
      zajęciem się pszczołami miodnymi (łac. Apis mellifera), zgodnie z Narodową
      Strategią Ochrony Owadów Zapylających
      (http://www.greenpeace.pl/strategia/). Niebagatelnym czynnikiem jest też
      chęć pozyskiwania „płynnego złota” jakim jest miód, na którego właściwości
      i walory smakowe wpływa różnorodność środowiska, z którego pszczoły mogą
      pozyskiwać nektar, z którego wytwarzają miód. Pszczoły pozyskują
      efektywnie nektar wykonując loty w promieniu do 2 km, choć często, przy
      sprzyjających warunkach wietrznych latają nawet 6 km.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <img id="imageAbout" class="d-block w-100" src="/media/PR-1l.jpg" />
  </div>
  <div class="col-sm-4">
    <img id="imageAbout" class="d-block w-100" src="/media/PR-2l.jpg" />
  </div>
  <div class="col-sm-4">
    <img id="imageAbout" class="d-block w-100" src="/media/PR-13l.jpg" />
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <img id="imageAbout" class="d-block w-100" src="/media/PR-7l.jpg" />
  </div>
  <div class="col-sm-4">
    <img id="imageAbout" class="d-block w-100" src="/media/PR-11l.jpg" />
  </div>
  <div class="col-sm-4">
    <img id="imageAbout" class="d-block w-100" src="/media/PR-12l.jpg" />
  </div>
</div>

{% endfor %} {% endblock content %}
