{% extends "base.html" %}

{% block content%}
<h1 class = "title"> {{title}}</h1>
{% for description in site_description %}
<p class="page_description alert-light">{{description.contact_description_1}}</p>
<p class="alert-light"><b>{{description.contact_description_2}}</b></p>
{% endfor %}


<!-- Contact details -->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="max-width: 25rem; max-height: 25;">
                <div class="card-body">
                    <div class="card-text">
                        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
                        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
            
                    <h5>Numer Telefonu / WhatsApp:</h5>
                    <p><a href="tel:+48505538274"><i class="fas fa-phone"></i>+48505538274</a><br></p>
                    <h5>Email:</h5>
                    <p><a href="mailto:pasiekaradość@pasiekaradość.com"><i class="fas fa-envelope"></i>pasiekaradość@pasiekaradość.com</a></p>
                    <h5>Adres:</h5>
                    <p>Ezopa 57, 04-805, Warszawa</p>
                    </div>
                </div>
            </div>
        </div>     

<!-- Contact Form -->
   
        <div class="col-sm-4">
            <div class="card" style="max-width: 25rem; max-height: 25;">
                <div class="card-body">
                    <div class="card-text">

                    <h5>Wyślij Wiadomość:</h5>
                    <form action="{% url 'page-contact' %}" method='post'>
                        {% csrf_token %}
                        <input type="text" name="message-name" class="form-control mb-30" placeholder="Twoje Imię">
                        <input type="email" name="message-email" class="form-control mb-30" placeholder="Twój Email">
                        <textarea name="message" class="form-control mb-30" placeholder="Twoja Wiadomość"></textarea>
                        <button type="submit" class="btn btn-primary mt-1">Wyślij</button>
                    </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<!-- Map -->
    <div class="row">
        <div class="map-responsive"></div>         
            <iframe src="https://maps.google.com/maps?q=ezopa%2057&t=&z=13&ie=UTF8&iwloc=&output=embed" width="600" height="450" frameborder="0" style="border:0">
            </iframe>
        </div>
    </div>
    <a href="https://www.online-timer.net"></a>
    <br>

{% endblock content %}