{% extends "base.html" %}
{% block content%}

<h1 class="title"> {{title}} </h1>
{% for description in site_description %}
<p class="page_description alert-light">{{description.faq_description_1}}</p>
<p class="alert-light"><b>{{description.faq_description_2}}</b></p>

<div class="row">
    <div class="col-md-12">
        <div class="pull-left"><img class="img-fluid" style="padding: 8px;" src="/media/pexels-12.jpg"></div>
        <div class="col">
            <h6>Gdzie jest zlokalizowana pasieka?</h6>
            <p id="pageText">Pasieka usytuowana jest w okolicach Kącka, na terenie niezamieszkałego od kilku lat
                gospodarstwa rolnego, w
                okolicy są jedynie 4 budynki w odległości od 100 do 500 metrów.
                Od strony południowo zachodniej rozciąga się las, miejscami podmokły z bardzo bujnym podszyciem. Las ten
                rozciąga się na odcinku wielu kilometrów od Wiązownej , aż do Malcanowa i dalej w kierunku lasów
                garwolińskich.
                Z kolej od strony północnej i wschodniej , aż po południową rozciągają się kwietne łąki doliny rzeki
                Mienia,
                wijącej się malowniczo. Szerokość tego pasa łąk to 3 km, częściowo uprawiane – koszone siano,
                a częściowo pozostawione w stanie naturalnym.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="pull-left"><img class="img-fluid" style="padding: 8px;" src="/media/pexels-13.jpg"></div>
        <div class="col">
            <h6>Jakie "pożytki" są dostępne w okolicach pasieki?</h6>
            <p id="pageText">Tereny są bardzo obfite we wczesnowiosenne pożytki. Wierzby, Zawilce, Podbiał i Klony.
                Bardzo obficie występuje Mniszek Lekarski. Jest też Tarnina i Głóg, niedaleko
                hektarowa plantacja Aronii, a w odległości kilometra znajdują się sady drzew owocowych – jabłoni.
                W suchszych rejonach lasu występuję w dużej ilości - Akacja, a w podszyciu Kruszyna. Na naświetlonych
                rejonach łąk występuje obficie Żmijowiec, Cykoria Podróżnik, Chaber, i Farbownik Lekarski,
                Jastrzębiec Kosmaczek. W pełni lata pojawiaj się Nostrzyk i Wielosił Błękitny,
                Bodziszki, Bukwica Lekarska. Licznie występuje też Dziurawiec
                oraz wiele innych roślin i ziół. Pod koniec lata rozkwitają morza Nawłoci.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="pull-left"><img class="img-fluid" style="padding: 8px;" src="/media/pexels-14.jpg"></div>
        <div class="col">
            <h6>Jakie pszczoły tworzą pasiekę?</h6>
            <p id="pageText">W pasiece posiadamy rodziny pszczele, hodowane w oparciu o matki pszczele od uznanych
                hodowców
                – sprawdzony
                materiał genetyczny.
                Są to zarówno matki pszczele czyste rasowo jak np. Apis Melifera Peschetz Holdorf, czy Hinderhoffer AGT,
                oraz
                Apis Melifera Caucasica i Primorska czy Karpatka, ale także matki pszczele tzw. mieszańce międzyrasowe
                jak
                Buckfast – w odmianach, czy Apis Melifera Ligustica/Cau = Bajka (pszczoła włoska zapłodniona przez
                trutnie
                pszczoły Kaukaskiej), czy też mieszańce z pszczołą afrykańską – tzw. ELGON-Monticola.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="pull-left"><img class="img-fluid" style="padding: 8px;" src="/media/pexels-15.jpg"></div>
        <div class="col">
            <h6>Jak dbamy o poszczoły?</h6>
            <p id="pageText">W hodowli rodzin pszczelich stosujemy jedynie naturalne metody leczenia i zapobiegania chorobom pszczół.
                Są to metody oparte o wywary z ziół i naturalne kwasy (szczawiowy, mlekowy, mrówkowy)
                O jakości i walorach smakowych pozyskiwanych przez nas miodów, świadczą pozytywne oceny uzyskiwane od
                ich nabywców, którzy doceniają ich naturalność i wspaniały, złożony bukiet smakowy i zapachowy.
                Zachęcamy do spróbowania!
            </p>
        </div>
    </div>
</div>

{% endfor %}
{% endblock content %}