{% extends "base.html" %}
{% block content%}
<h1> {{title}} </h1>
{% for description in site_description %}
        <p class="page_description alert-light">{{description.faq_description_1}}</p>
        <p class="alert-light"><b>{{description.faq_description_2}}</b></p>

        <div class="row">
                <div class="col-sm-5">
                    <img class="d-block w-100" src="/media/pexels-12.jpg">
                </div>
                <div class="col-sm-4">
                    <h6>Jak powstaje miód?</h6>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-5">
                    <img class="d-block w-100" src="/media/pexels-13.jpg">
                    
                </div>
                <div class="col-sm-4">
                    <h6>Kiedy miód jest najświeższy?</h6>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
  
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-5">
                    <img class="d-block w-100" src="/media/pexels-14.jpg">
                </div>
                <div class="col-sm-4">
                    <h6>Jakie są gatunki i rodzaje miodu?</h6>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                </div>
                
              </div>
              <br>
              <div class="row">
                <div class="col-sm-5">
                    <img class="d-block w-100" src="/media/pexels-15.jpg">
                    
                </div>
                <div class="col-sm-4">
                    <h6>Jakie gatunki pszczół żyją w Polsce?</h6>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
  
                </div>
              </div>
              <br>
        </div>
{% endfor %}
{% endblock content %}