{% extends "base.html" %}
{% block content%}


<h1 class = "title"> {{title}}</h1>
{% for description in site_description %}
<p class="page_description alert-light">{{description.home_description_1}}</p>
<p class="alert-light"><b>{{description.home_description_2}}</b></p>
{% endfor %}



<!-- Carousel Slider -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100 " src="/media/pexels-1.jpg" alt="First slide">
            <div class="carousel-caption d-sm-block">
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="/media/pexels-3.jpg" alt="Second slide">
            <div class="carousel-caption d-sm-block">
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="/media/pexels-2.jpg" alt="Third slide">
            <div class="carousel-caption d-sm-block">
            </div>
        </div>
    </div>


    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
</div>
<p></p>

<!-- Homepage Main Info -->

<div class="row">
    <div class="col-sm-8">
        <img class="d-block w-100" src="/media/pexels-7.jpg">
    </div>
    <div class="col-sm-4">
        <h4>Nasza Pasieka</h4>
        <p class="pagetext">Jesteśmy pasieką rodzinną, podchodzimy do pszczół z pasją i zaangażowaniem. Nasza pasieka istnieje oficjalnie od 2021 roku, choć zainteresowanie pszczołami rozwijamy już od lat 90-tych.</p>
        <a class="btn btn-outline-secondary btn-sm adminButton" href="{% url 'page-about' %}">O nas</a>
    </div>
  </div>
  <p></p>

  <div class="row">
    <div class="col-sm-8">
        <img class="d-block w-100" src="/media/pexels-6.jpg">
        
    </div>
    <div class="col-sm-4">
        <h4>Nasze Produkty</h4>
        <p class="pagetext">Nasze produkty są 100% naturalne, nie kremujemy ani nie podgrzewamy naszych miodów. Posiadamy ofertę różnych miodów jak np. wielokwiatowe, akacjowe, czy nawłociowe. Zapraszamy do zapoznania się z naszą ofertą.</p>
        <a class="btn btn-outline-secondary btn-sm adminButton" href="{% url 'page-products' %}">Produkty</a>
    </div>
  </div>
  <p></p>
  <div class="row">
    <div class="col-sm-8">
        <img class="d-block w-100" src="/media/pexels-5.jpg">
    </div>
    <div class="col-sm-4">
        <h4>Aktualności i Wydarzenia</h4>
        <p class="pagetext">Zapraszamy do śledzenia aktualności na naszej stronie oraz odwiedzenia naszego profilu na Facebooku, w dziale kontakt znajdziecie Państwo także nasze dane kontaktowe.</p>
        <a class="btn btn-outline-secondary btn-sm adminButton" href="{% url 'page-news' %}">Aktualności</a>
    </div>
    
  </div>
 <p></p>
  <div class="row">
    <div class="col-sm-8">
        <img class="d-block w-100" src="/media/pexels-16.jpg">
    </div>
    <div class="col-sm-4">
        <h4>FAQ</h4>
        <p class="pagetext">Przejdź do FAQ aby znaleźć odpowiedzi na często zadawane pytania.</p>
        <a class="btn btn-outline-secondary btn-sm adminButton" href="{% url 'page-faq' %}">FAQ</a>
    </div>
     <p></p>

  </div>

{% endblock content %}