{% extends "base.html" %}
{% block content%}
<h1 class="title">{{title}}</h1>


<div class="container">
    <div class="pull-left"><img class="img-fluid" style="padding: 8px; width:400px; filter:blur(1px);" src="/media/foto_info.jpg"></div>

    <div class="row">
        <div class="col">
            <h4>Jak powstaje miód?</h4>
            <p class="pagetext">
                Miód jest najstarszą substancją słodzącą, znaną na całym świecie. Oprócz cennych wartości odżywczych i
                smakowych, już w czasach starożytnych poznane i doceniane były jego właściwości lecznicze. Zdrowotne
                wykorzystanie miodu opisywali starożytni lekarze – Hipokrates i Awicenna oraz filozofowie - Platon i
                Arystoteles.
                Obecnie naukowo potwierdzono, że miód to skarbnica wielu substancji odżywczych oraz przeciwbakteryjnych
                i przeciwgrzybiczych. W jaki sposób te małe owady wytwarzają ten prawdziwy cud natury? Nadal funkcjonuje
                na ten temat wiele mitów i przekłamań. Odkryj zatem tajemnice ula!

                Podstawą wytwarzania miodu jest nektar, który rośliny produkują w specjalnych gruczołach, zwanych
                nektarnikami. Źródłem surowca na miód są rośliny miododajne, np. facelia błękitna, chaber bławatek i
                lebiodka pospolita, lipa, rzepak. Kwiaty tych roślin mają różnorodne kolory i zapachy, a ze względu na
                swój atrakcyjny wygląd i woń, przyciągają do siebie owady, w tym także pszczoły.

                Roślina miododajna charakteryzuje się długim okresem kwitnienia. Dostarcza pszczołom składników
                pokarmowych, służących do produkcji miodu. Pszczoły zbierają nektar, gromadzą go w swoim wolu miodowym i
                przenoszą go do ula. Jest to maleńka porcja, gdyż jedna pszczoła przynosi jednorazowo 40-50 mg nektaru,
                ale to jednocześnie niezwykle dużo, zważywszy na fakt, że sama waży około 110 mg.

                Po powrocie do ula pszczoła przekazuje zbiory robotnicy ulowej, po czym odlatuje, by pracować dalej. Ta
                wymiana nektaru z wola do wola (czy bardziej ogólnie mówiąc „z ust do ust”) nazywana jest trofalaksją.
                Ostatecznie przerabianiem nektaru na miód zajmuje się właśnie pszczoła pracująca w ulu. Wielokrotnie
                wysuwa i chowa języczek oblepiony nakropem (świeżym, przerabianym nektarem), co powoduje odparowanie
                wody i zgęstnienie mieszaniny. W trakcie tego procesu w wolu do roztworu dodawane są enzymy trawienne,
                które później korzystnie wpływają na nasze zdrowie.
                Ostatecznie pszczoły składają krople miodu w komórkach plastra, gdzie powinien odparować jeszcze trochę
                wody, po czym jest zasklepiany, by odciąć dopływ powietrza. Miód, jest higroskopijny – oznacza to, że
                potrafi pochłaniać wodę z otoczenia. Bywają takie lata (jak na przykład sezon pszczelarski 2020), gdzie
                wilgotna pogoda powoduje, że wody w miodzie jest dużo i miód jest bardziej lejący.

                Ciekawostką jest fakt, że pszczoły produkują tylko zdrowy i bezpieczny dla ludzi miód w przeciwieństwie
                do osowatych, które zbierają również nektar z trujących kwiatów
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="pull-right"><img class="img-fluid" style="margin:8px; padding: 8px; width:500px; filter:blur(1px);"
                    src="/media/foto_info_2.jpg"></div>
            <h4>Kiedy miód jest najświeższy?</h4>
            <p class="pagetext">
                Podczas transportu nektaru do ula, w wolu miodowym zostaje on częściowo rozrzedzony oraz wzbogacony o
                enzymy i kwasy organiczne pochodzące z organizmu owadów. Po powrocie do ula, pszczoła zbieraczka
                przekazuje surowiec pszczołom ulowym, które składają do komórek plastra. Zadaniem tych pszczół jest
                utrzymanie wysokiej temperatury wewnątrz ula. Nieustannie poruszają skrzydłami sprawiając, że z miodu
                odparowuje woda i jest usuwana wilgoć. W ten sposób dochodzi do jego zagęszczenia. W komórkach plastra
                następuje także proces dojrzewania miodu, który polega zarówno na odparowaniu wody, jak i rozkładzie
                cukrów złożonych na cukry proste (dzięki wprowadzonym enzymom).
                Po 3-4 dniach w komórkach plastra, zawartość wody w miodzie wynosi nie więcej niż 18%, a przyniesiony do
                ula nektar zawierał jej 60-70%. Praca w ulu wre nieustannie. W ciągu 4-5 dni, pszczoły wielokrotnie
                przekładają miód z jednej komórki plastra do drugiej, a gdy osiągnie pożądaną zawartość wody, zostaje
                szczelnie zasklepiony woskiem, który go zabezpiecza nawet na wiele miesięcy.
                By nektar stał się miodem, potrzebne jest nie tylko odparowanie wody, ale przede wszystkim szereg
                przemian biochemicznych. Niestety nadal wiele z nich pozostaje niewyjaśnionych, co sprawia, że miodu nie
                jesteśmy w stanie podrobić i wytworzyć w fabryce. Wiemy jedynie, że pod wpływem enzymów i kwasu
                mrówkowego znajdujących się w przewodzie pokarmowym pszczoły, dochodzi do przekształcenia sacharozy w
                glukozę i fruktozę, których mieszaninę potocznie zwie się cukrem inwertowanym. Natomiast proces
                tworzenia się dekstryn w miodzie dojrzałym, wciąż pozostaje słodką tajemnica pszczół.
                Proces produkcji miodu uważa się za zakończony, gdy miód osiągnie tzw. „dojrzałość”. Zazwyczaj uważa się
                miód za dojrzały, gdy 75% komórek danego plastra jest pokrytych woskiem. Wtedy pora na miodobranie!
                Pszczelarz musi wydobyć miód z plastrów poprzez odsklepianie, a później odwirować miód w miodarkach.
                Miód, który wydostanie się z wirówki, musi być przelany przez sita, by pozbyć się wszelkich
                zanieczyszczeń, takich jak małe kawałki komórek woskowych. Wtedy przychodzi czas na to by miód nieco
                odstał. Następnie można go już przelewać go do słoików i delektować się tym wspaniałym darem natury.
                Jak widać z powyższych informacji, miód jest najświeższy w momencie odsklepienia i odwirowywania, ma
                wtedy postać płynną tak zwaną patokę. Jednak wspaniałe naturalne zabezpieczenie miodu przez pszczoły,
                powoduje, że jego właściwości nie ulegają zasadniczym zmianom nawet w okresie 3 lat i więcej od chwili
                odsklepienia. Jedyną namacalną zmianą miodu wraz z upływem czasu jest jego naturalnie postępująca
                krystalizacja, zachodząca dla różnych gatunków miodów w różnym tempie. I tak miód akacjowy w
                sprzyjających warunkach może nie skrystalizować w ciągu nawet kilku miesięcy, gdy z kolei miody z
                Mniszka Lekarskiego czy Nawłoci potrafią skrystalizować w kilka lub kilkanaście dni.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h4>Po co pszczoły robią miód?</h4>
            <p class="pagetext">
                Czy te pracowite owady trudzą się tak ogromnie jedynie dla naszej przyjemności? Nie, człowiek jedynie
                korzysta z ich pracy i umiejętności. Pszczoły produkują miód na własne potrzeby, gdyż jest dla nich
                pokarmem. A że są bardzo pracowite i przewidujące, to gromadzą go tyle ile mają sił i możliwości. Wiosną
                i latem żywią się one głównie nektarem i pyłkiem, który uzyskują z kwitnących kwiatów. Ale kiedy
                nadchodzi późna jesień i zima, pszczoły miodne tracą swoje naturalne źródło pożywienia. Potrzebują więc
                do przetrwania alternatywnego źródła pokarmu, którym jest właśnie miód.
                Przy każdym miodobraniu pszczelarz musi pozostawić rodzinie pszczelej od trzech do czterech kilogramów
                miodu. W innym przypadku grozi jej głód, np. w sytuacji dłuższej niepogody (1-2 tygodni). Wygłodniałe
                pszczoły są bardziej podatne na choroby, więc pszczelarz musi dbać o ich dobrostan. Dzięki temu w
                kolejnym sezonie znów będzie mógł korzystać z ich żmudnej pracy.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h4>Informacje statystyczne</h4>
            <p class="pagetext">
                <ul>
                    <li>Rodzina pszczela składa się latem z ok. 50 tysięcy, a zimą ok. 10 tysięcy osobników</li>
                    <li>W zależności od intensywności pożytku w okresie letnim ginie w ciągu jednego dnia ok. 2000
                        pszczół
                        lotnych.</li>
                    <li>Pszczoła robotnica waży około 0,1g a rodzina pszczela w okresie największego rozwoju waży od
                        5-12 kg
                        (50-120 tysięcy pszczół)</li>
                    <li>Pszczoła fruwa z prędkościąok.25 km/h</li>
                    <li>W ciągu swojego życia pszczoła wykonuje loty dające sumę ok. 800 km</li>
                    <li>Wypełnione wole miodowe zbieraczki może ważyć do 70 mg, co stanowi ok. 80% ciężaru całej
                        pszczoły)</li>
                    <li>Letnie pszczoły robotnice żyją tylko miesiąc-półtora, a zimowe nawet do 9 miesięcy</li>
                    <li>Żeby uzyskać kilogram miodu, pszczoły muszą zebrać nektar z ok. 3 - 5, a wg innych źródeł 10 mln
                        kwiatów. W tym celu muszą wykonać ok. 60 mln lotów.</li>
                    <li>Na kilogram miodu pszczoły muszą zebrać ok. 3 kg nektaru (2 kg wody zostają odparowane)</li>
                    <li>Jedna pszczoła produkuje w ciągu swego życia jedną łyżeczkę miodu.</li>
                    <li>Wyprodukowanie 1 kg miodu to praca całego życia ok. 350-400 pszczół</li>
                    <li>Jedna pszczoła zbieraczka, odwiedzając podczas jednego lotu trwającego ok. 15-30 minut setki
                        kwiatów,
                        zbiera ok. 50 mg nektaru, co odpowiada ilości zawartej w 100 kwiatach jabłoni lub w 1.500
                        kwiatach
                        koniczyny</li>
                    <li>Jedna zbieraczka wykonuje dziennie 2-30 lotów(w zależności od odległości i intensywności
                        pożytku)</li>
                    <li>Pszczoły miodne zapylają 80% roślin pożytkowych.</li>
                    <li>Na 1 gram pyłku składa się ok. 14 tysięcy ziaren pyłku o dużych ziarnach</li>
                    <li>Na przechowanie 1 kg miodu potrzeba 20 g wosku</li>
                    <li>Na 1 kg wosku pszczoły wytwarzają w gruczołach woskowych 1,25 miliona łusek wosku</li>
                    <li>Na 100 gramów wosku potrzeba 125.000 łusek wosku</li>
                    <li>100 gramów wosku wystarczy na zbudowanie 8000 komórek</li>
                    <li>W ciągu roku rodzina pszczela może wyprodukować 350-500 g wosku</li>
                    <li>Statystycznie od jednej rodziny pszczelej pszczelarz odbiera 15-20 kg miodu.</li>
                </ul>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h4>Pokarm pszczół</h4>
            <p class="pagetext">
                Do naturalnych pokarmów pszczół zaliczamy:
                <ul>
                    <li>Miód – pokarm węglowodanowy(powstały z nektaru i spadzi)</li>
                    <li>Pierzgę – pokarm białkowy (chleb pszczeli)- zakonserwowany pyłek w komórce plastra</li>
                    <li>Mleczko pszczele – pokarm wytwarzany przez młode pszczoły</li>
                    <li>Woda</li>
                </ul>
                Roczne spożycie miodu przez 1 rodzinę pszczelą wynosi od 90 – 200 kg ! , a pierzgi (zakonserwowanego
                kwasem mlekowym pyłku) od 18 – 55 kg !
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="pull-left"><img class="img-fluid" style="margin:8px; padding: 8px; width:350px; filter:blur(0.7px);"
                    src="/media/foto_info_3.jpg"></div>
            <h4>Jakie są gatunki i rodzaje miodu?</h4>
            <p class="pagetext">
                Miody ogólnie można podzielić na wielokwiatowe i gatunkowe.
                Wielokwiatowe różnią się między sobą ze względu na porę roku ich odbierania -wiosenne, letnie i
                jesienne.
                Miody gatunkowe są wytwarzane przez rodziny pszczele posiadające tzw. wierność kwiatową – czyli
                zbierające w danym okresie nektar tylko z jednej rośliny. Do takich klasycznych miodów gatunkowych
                zalicza się miód Mniszkowy, rzepakowy, gryczany, lipowy, spadziowy, akacjowy i wrzosowy.
                Dobry miód pszczeli wcześniej czy później krystalizuje. Krystalizacja przebiega w miodach wiosennych
                szybko, bo już w kilkanaście dni po miodobraniu. Przyczyną tego jest zwiększona zawartość glukozy.
                Dłużej nie krystalizują miody z większą zawartością fruktozy, jak np. miód akacjowy.
                Krystalizacja miodu nie zmienia jego wartości odżywczo-leczniczych, lecz tylko konsystencję. Miód
                krystalizując jaśnieje, np. płynna ciemna spadź robi się jasno-szaro-zielona.
                Miód skrystalizowany (krupiec) można doprowadzić z powrotem do płynności (patoki), bez utraty jego
                cennych właściwości, wolno podgrzewając go do temperatury 42 st.C.

            </p>
        </div>
    </div>

</div>

{% endblock content%}