{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content%}
<div>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="boarder-bottom mb-4">Tworzenie nowego posta</legend>
            {{form|crispy}}
        </fieldset>
        <div class="form-group">
        <br>
            <button class="btn btn-outline-info" type="submit">Dodaj</button>
            <a class="btn btn-secondary" href="{% url 'page-news' %}">Powrót</a> 
        </div>

    </form>
    <br>
</div>
<br>
{% endblock content %}