{% extends "base.html" %}
{% block content%}

<h1 class = "title">{{title}}</h1>
{% for description in site_description %}
    <p class="page_description alert-light">{{description.news_description_1}}</p>
    <p class="alert-light"><b>{{description.news_description_2}}</b></p>
{% endfor %}
  <div>
    <p>Chcesz wiedzieć kiedy mamy świeżą dostawę miodów? Napisz do nas! <a href="{% url 'page-contact' %}">Kontakt</a></p>
  </div>
{% if user.is_authenticated %}
<a class="btn btn-info" href="{% url 'news-create' %}">Dodaj nowy Post</a>
<br>
{% endif %}
<br>
{% for post in posts %}
<article class="media content-section">
  
  <div class="media-body">
    <div class="article-metadata">
        <h6><img class="rounded-circle post-image" src="{{post.author.profile.image.url }}"><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h6> 
     
      {{ post.content | safe }} 
      <p><small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small></p>
      <p></p>
    </div>
  </div>
</article>
{% endfor %}

{% endblock content %}


