{% extends "base.html" %}
{% block content %}
<article class="media content-section">
{{object.title}} : {{object.author}}
<br>

{{ object.content|safe }}</br>
<small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
<br>
<br>
{% if object.author == user %}
<a class="btn btn-info" href="{% url 'post-update' object.id %}">Aktualizuj Post</a>
<a class="btn btn-danger" href="{% url 'post-delete' object.id %}">Usuń Post</a>
{% endif %} 
<a class="btn btn-secondary" href="{% url 'page-news' %}">Powrót</a>  


</article>
{% endblock content %}