{% extends "base.html" %}
{% block content%}
<h1 class = "title"> {{title}} </h1>
{% for description in site_description %}
        <p class="page_description alert-light">{{description.terms_description_1}}</p>
        <p class="alert-light"><b>{{description.terms_description_2}}</b></p>
{% endfor %}

<body>
        <div class="card border-secondary col-11">
                <div class="card-body text-secondary">
                  <h5 class="card-title"> 1) Strona, Administrator i Użytkownik</h5>
                  <p class="card-text"> Administratorem strony pasiekaradosc.pl jest Stanisław Klewicki. Użytkownikiem strony jest natomiast każda osoba odwiedzająca stronę pasiekaradosc.pl. Strona to witryna internetowa znajdująca się pod adresem pasiekaradosc.pl, prowadzona w celach informacyjnych i reklamowych.</p>
                  </div>
                  
                  <div class="card-body text-secondary">
                <h5 class="card-title">2) Warunki Korzystania ze Strony</h5>
                <p class="card-text"> Korzystanie ze strony pasiekaradosc.pl jest możliwe pod warunkiem spełnienia przez system teleinformatyczny, z którego korzysta Klient,  minimalnych wymagań technicznych. Jest to dostęp do komputera podłączonego do internetu oraz zainstalowaną przeglądarką internetową, najlepiej zaktualizowana do najnowszej wersji.
                        Strona zawiera informacje o towarach, które wyszczególniono na stronie serwisu, podając ich opis, parametry oraz ceny, co stanowi zaproszenie do zawarcia umowy, w rozumieniu art. 71 Kodeksu Cywilnego. Strona nie wymaga rejestracji Użytkownika, a także nie prowadzi sprzedaży w ramach sklepu internetowego.</p>
                        </div>


                 <div class="card-body text-secondary">
                        <h5 class="card-title">3) Informacje na Stronie Pasieka Radość</h5>
                        <p class="card-text"> Strona pasiekaradosc.pl, pozwala Użytkownikowi na zapoznanie się z produktami firmy oraz złożenie zapytania na temat ich dostępności i możliwości zamówienia, do czego służą dane kontaktowe Administratora (telefon i emial), znajdujące się w dziale Kontakt strony.
                                Informacje zawarte na stronie, nie stanowią natomiast oferty handlowej w rozumieniu art. 66 §1 Kodeksu Cywilnego</p>
                        </div>
                 <div class="card-body text-secondary">
                        <h5 class="card-title">4) Zobowiązania Użytkownika</h5>
                        <p class="card-text"> Odwiedzając stronę pasiekaradosc.pl, Użytkownik zobowiązuje się do korzystania ze strony w sposób nie zakłócający jej funkcjonowania, w szczególności poprzez użycie określonego szkodliwego oprogramowania, niepodejmowania działań takich jak rozsyłanie wiadmości spam lub korzystania ze strony i jej aplikacji w sposób powodujący zakłócenia działania.
                                Pondadto, Użytkownik zobowiązuje się do korzystania ze strony internetowej pasiekaradosc.pl w sposób zgodny z przepisami prawa obowiązującymi na terytorium Rzeczypospolitej Polskiej, postanowieniami Regulaminu, a także z ogólnymi zasadami korzystania z sieci Internet. W sprawach nieuregulowanych w niniejszym Regulaminie mają zastosowanie przepisy
                                Kodeksu Cywilnego, przepisy Ustawy o świadczeniu usług drogą elektroniczną, Ustawa o prawach konsumentów oraz inne właściwe przepisy prawa polskiego.</p>
                                </div>
                        
                  

        

</body>



{% endblock content %}