.jumbo-text{
  color:white;
  font-size: 3vw;
  font-family: 'Advent Pro', sans-serif;
  font-weight: bold;
  text-align:center;
  text-shadow: 0 0 7px #ebd61b, 0 0 7px #e7e7e7,
  0 0 20px #dbaa07, 0 0 20px #ffffff,
  0 0 20px #e4e4e4;
  letter-spacing: 1px;
}
.navbar{
  background-color: beige;
  padding-left: 30px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title{
  font-family: 'Advent Pro', sans-serif;
}

.navbar-brand{
     margin-left:15px !important; 
}
.nav-item{
  font-size: 18px;
  margin-right: 30px;
  border-radius: 1rem;
  font-family: 'Advent Pro', sans-serif;
  font-weight:bolder;
}

.navbar-active{
  background-color: white;
  border-radius: 0.5rem;
  
}

.nav-item:focus, .nav-item:hover, .nav-item:active {
	background-color: white; 
  border-radius: 0.5rem;
 
} 

.navbar-toggler{
  background-color: white;
  border-radius: 0.5rem;
}

.text-center {
  text-align: center !important;
}

.jumbotron {
    background-image: url("../media/baner.jpg");
    background-size: cover;
    padding-top: 8%;
    padding-bottom: 8%;
  }

.page_description{
    color:dimgrey;
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    text-indent: 5%;
  }

.card {
  border-radius: .5rem;
  border: 1px solid lightgray;
  background-color:beige;
  text-align: justify;
  margin-bottom: 10px;
  font-weight: lighter;
} 

.card2 {
  display: flex;
  min-width: 0;
  color: rgb(68, 68, 68);
  background-clip:content-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .5rem;
}

.card-img-top {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.fade-in {
  animation: fadeIn ease 10s;

}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.map-responsive{
    overflow:hidden;
    position:relative;
    height:0;
    position:relative;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:relative;
}

.post-image {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  margin-bottom: 16px;
}


.carousel-caption{
  font-family: "Lucida Control", monospace;
  filter: blur(0.5px);
  background: rgba(0, 0, 0, 0.35);
}



/*FOOTER*/

footer {
  background: beige;
  background: -webkit-linear-gradient(59deg,beige, beige);
  background: linear-gradient(59deg, beige);
  color: black;
  margin-top:100px;
}

footer a {
  color: rgb(22, 16, 97);
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid black;
}

.footer-middle {
  padding-top: 2em;
  color: black;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}
